<template name="repWeekOverview">
{{#if isToday}}
<div class="col-lg-4">
 <div class="panel panel-success">
  <div class="panel-heading">

    <h3 class="panel-title" style="text-align:center"><a href="{{pathFor 'dayEdit'}}">Today: {{date}}</a></h3>
  </div>
  <div class="panel-body">
  
    <ul class="day-item">
		<li>Calls: {{calls}} </li>
 		<li>Connects: {{connects}}</li>
 		<li>Emails: {{emails}} </li>
 		<li>Demos: {{demosSet}} </li>
	 </ul>
	</div>
	</div>
	</div>
{{/if}}

{{#if isWeekNotToday}}
<div class="col-lg-2">
 <div class="panel panel-primary">
  <div class="panel-heading">

    <h3 class="panel-title" style="text-align:center"><a href="{{pathFor 'dayEdit'}}">{{date}}</a></h3>
 </div>
  <div class="panel-body">
  
    <ul class="day-item">		
		<li>Calls: {{calls}}</li>
 		<li>Connects: {{connects}}</li>
 		<li>Emails: {{emails}} </li>
 		<li>Demos: {{demosSet}}</li>
 </ul>
</div>
</div>
</div>
{{/if}}
</template>

<template name ="repMonthOverview">
	{{#if isMonthNotWeek}}
	<div class="col-lg-2 month-day">
	<div class="panel panel-primary">
	<div class="panel-heading">

	<h3 class="panel-title" style="text-align:center"><a href="{{pathFor 'dayEdit'}}">{{date}}</a></h3>
	</div>
	<div class="panel-body">

	<ul class="day-item">
		
		<li>Calls: {{calls}}</li>
			<li>Connects: {{connects}}</li>
			<li>Emails: {{emails}} </li>
			<li>Demos: {{demosSet}}</li>
	</ul>
	</div>
	</div>
	</div>
{{/if}}
</template>




	