<template name="demoPage"> 

<div class="container"> 
<div class="row"> 



<div class="col-lg-4 col-lg-offset-4 well">
<form class="form-horizontal main">
 <fieldset>

<legend>Edit Demo</legend>
<div class="col-lg-10 col-lg-offset-3">

<div class="form-group control-group">
<label class="control-label" for="dateset">Date Set</label> 
<div class="controls">
<input type="text" name="dateset" value="{{dateset}}" id="my-datepicker">
</div>
</div>

<div class="form-group control-group">
<label class="control-label" for="sfid">SIFD</label> 
<div class="controls">
<input name="sfid" type="text" value="{{sfid}}" />
</div>
</div>

<div class="form-group control-group">
<label class="control-label" for="closed">Closed</label> 
<div class="controls">
<input name="closed" type="text" value="{{closed}}" />
</div>
</div>         

<br>

<div class="form-group control-group"> 
<div class="controls">
<input type="submit" value="Cancel" class="cancel btn btn-default"/> 
<input type="submit" value="Update" class="btn btn-info "/>
<input type="submit" value="Delete" class="btn delete btn-danger"/> 
</div>
</div>

</div>
 </fieldset>
</form>
        </div>


</div>

  </div>

</template>




