<template name="dayItem">
{{#if isToday}}
<div class="col-lg-4">
 <div class="panel panel-success">
  <div class="panel-heading">

    <h3 class="panel-title" style="text-align:center"><a href="{{pathFor 'dayEdit'}}">Today: {{date}}</a></h3>
  </div>
  <div class="panel-body">
  
    <ul class="day-item">
		<li>Calls: {{calls}} <a class="inc-calls inc-btn pull-right"><i class="fa fa-plus"></i></a></li>
 		<li>Connects: {{connects}}<a class="inc-connects inc-btn pull-right"><i class="fa fa-plus"></i></a></li>
 		<li>Emails: {{emails}} <a class="inc-emails inc-btn pull-right"><i class="fa fa-plus"></i></a></li>
 		<li>Demos: {{demosSet}} <a class="btn btn-xs btn-success pull-right" href={{pathFor 'demoSubmit'}}><i class="fa fa-plus"></i></a> </li>
 </ul>
</div>
</div>
</div>
{{/if}}

{{#if isWeekNotToday}}
<div class="col-lg-2">
 <div class="panel panel-primary">
  <div class="panel-heading">

    <h3 class="panel-title" style="text-align:center"><a href="{{pathFor 'dayEdit'}}">{{date}}</a></h3>
 </div>
  <div class="panel-body">
  
    <ul class="day-item">		
		<li>Calls: {{calls}}</li>
 		<li>Connects: {{connects}}</li>
 		<li>Emails: {{emails}} </li>
 		<li>Demos: {{demosSet}}</li>
 </ul>
</div>
</div>
</div>
{{/if}}
</template>

<template name ="thisMonth">
	{{#if isMonthNotWeek}}
	<div class="col-lg-2 month-day">
	<div class="panel panel-primary">
	<div class="panel-heading">

	<h3 class="panel-title" style="text-align:center"><a href="{{pathFor 'dayEdit'}}">{{date}}</a></h3>
	</div>
	<div class="panel-body">

	<ul class="day-item">
		
		<li>Calls: {{calls}}</li>
			<li>Connects: {{connects}}</li>
			<li>Emails: {{emails}} </li>
			<li>Demos: {{demosSet}}</li>
	</ul>
	</div>
	</div>
	</div>
{{/if}}
</template>




	